@page "/"
@inject ApplicationConfiguration AppConfig

<PageTitle>Home</PageTitle>

<h1>Hello, world!</h1>

Welcome to your new app.


@code {

	[CascadingParameter]
	private HttpContext HttpContext { get; set; } = default!;


}
