@page "/"

<PageTitle>Home</PageTitle>

<h1>Hello, world!</h1>

Welcome to your new app.

@* Report on the Roles the current user belongs to*@
@if (HttpContext.User.IsInRole("Admin"))
{
		<p>You are an Admin named @HttpContext.User.Identity.Name</p>
}
else if (HttpContext.User.IsInRole("User"))
{
		<p>You are a User</p>
}
else
{
		<p>You are not an Admin or a User</p>
}

@code {

	[CascadingParameter]
	private HttpContext HttpContext { get; set; } = default!;


}