@using TagzApp.Web.Areas.Admin.Pages;

<ul class="nav nav-pills flex-column">
	<li class="nav-item"><a class="nav-link @ManageNavPages.PageNavClass(ViewContext, ManageNavPages.Index)" id="index" asp-page="./Index">Home</a></li>
	<li class="nav-item"><a class="nav-link @ManageNavPages.PageNavClass(ViewContext, ManageNavPages.Users)" id="index" asp-page="./Users">Users</a></li>
	<li class="nav-item"><a class="nav-link @ManageNavPages.PageNavClass(ViewContext, ManageNavPages.Providers)" id="index" asp-page="./Providers">Providers</a></li>
</ul>
