html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

#taggedContent {
	width: 100%;
	background-color: #CCC;
	padding: 0.3em;
	display: grid;
	grid-gap: 5px;
	grid-template-columns: repeat(auto-fill, minmax(250px,1fr));
	grid-auto-rows: 10px;
}

#taggedContent article
{

	position: relative;
	font-size: 0.6em;
	border: 1px solid black;
	background-color: #FFF;
	padding: 0.2em;
	overflow: hidden;
	cursor: pointer;

}

#taggedContent .bi {
	position: absolute;
	right: 0.2em;
	top: 0;
}

#taggedContent article > span {
	display: block;
}

#taggedContent article .author {
	font-weight: bold;
	font-size: 1.2em;
	text-align: left;
	width: calc(100% - 1.1em);
	overflow: hidden;
}

#taggedContent article .time {
	text-align: left;
}


#overlayDisplay.show {
	width: 40em;
	background-color: white;
	border: 1px solid black;
	padding: 0.3em 0.8em 0.8em 0.8em;
	position: relative;
}

#overlayDisplay * {
	font-family: Arial, Helvetica, sans-serif;
}

#overlayDisplay > span {
	display: block;
}


#overlayDisplay .author {
	font-weight: bold;
	font-size: 1.2em;
	text-align: left;
	width: calc(100% - 1.1em);
	overflow: hidden;
}

#overlayDisplay .time {
	text-align: left;
	font-size: 0.8em;
	font-weight: bold;
	margin-bottom: 0.5em;
}

#overlayDisplay .bi {
	position: absolute;
	right: 0.4em;
	top: 0.4em;
}

#overlayDisplay img {
	width: 40em;
	padding: 2px;
}
