html {
	font-size: 14px;
}

@media (min-width: 768px) {
	html {
		font-size: 16px;
	}
}

.btn:focus,
.btn:active:focus,
.btn-link.nav-link:focus,
.form-control:focus,
.form-check-input:focus {
	box-shadow:
		0 0 0 0.1rem white,
		0 0 0 0.25rem #258cfb;
}

html {
	position: relative;
	min-height: 100%;
}

body {
	margin-bottom: 60px;
}

#taggedContent {
	position: relative;
	width: 100%;
	height: calc(100vh - 66px);
	overflow-y: scroll;
	padding: 0.3em 10px;
	display: grid;
	grid-gap: 5px;
	grid-template-columns: repeat(auto-fill, minmax(275px, 1fr));
	grid-auto-rows: 10px;
}

#taggedContent article {
	position: relative;
	/*font-size: 0.6em;*/
	border: 1px solid #e2e8ed;
	border-radius: 20px;
	padding: 8px 16px 16px 16px;
	overflow: hidden;
	cursor: pointer;
	box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.04);
	display: grid;
	grid-template-columns: 36px 1fr 16px;
	grid-template-rows: 36px 14px auto 1fr;
	grid-column-gap: 10px;
	grid-row-gap: 15px;
}

#taggedContent .ProfilePicture,
#overlayDisplay .ProfilePicture,
#overlayDisplay.showPreview .ProfilePicture,
#portraitOverlayDisplay .ProfilePicture,
#portraitOverlayDisplay.showPreview .ProfilePicture {
	grid-area: 1 / 1 / 2 / 2;
	width: 36px;
	height: 36px;
	border-radius: 50%;
}

#taggedContent .byline,
#overlayDisplay .byline,
#overlayDisplay.showPreview .byline,
#portraitOverlayDisplay .byline,
#portraitOverlayDisplay.showPreview .byline {
	grid-area: 1 / 2 / 2 / 3;
	min-width: 170px;
	overflow: hidden;
	white-space: nowrap;
	height: 2.5em;
}

#taggedContent .provider,
#overlayDisplay .provider,
#portraitOverlayDisplay .provider {
	grid-area: 1 / 3 / 2 / 4;
	font-size: 20px;
}

#overlayDisplay.showPreview .provider {
	grid-area: 1 / 3 / 2 / 4;
	font-size: 20px;
}

#taggedContent .time,
#overlayDisplay .time,
#overlayDisplay.showPreview .time,
#portraitOverlayDisplay .time {
	grid-area: 2 / 1 / 3 / 4;
	color: var(--bs-body-color);
	font-family: Helvetica;
	font-size: 14px;
	font-style: normal;
	font-weight: 400;
	line-height: normal;
	opacity: 0.7;
}

#taggedContent .content,
#overlayDisplay .content,
#overlayDisplay.showPreview .content,
#portraitOverlayDisplay .content {
	grid-area: 3 / 1 / 4 / 4;
	display: block;
	width: 100%;
	line-height: 1.2em;
	/*padding-bottom: 10px;*/
}

#taggedContent .contentcard {
	grid-area: 4 / 1 / 5 / 4;
	display: block;
	width: 100%;
}

#taggedContent .contentcard img {
	border-radius: 4px;
}

.content p {
	margin: 0 auto 10px;
}

span.invisible {
	display: none;
}

#overlayDisplay .contentcard {
	grid-area: 1 / 4 / 3 / 5;
	display: block;
	max-width: 400px;
	height: 282px;
	text-align: right;
	overflow: hidden;
	border-radius: 4px;
	position: relative;
}

#overlayDisplay .contentcard img {
	border-radius: 4px;
	max-width: 400px;
	max-height: 282px;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translateY(-50%) translateX(-50%);
}

#portraitOverlayDisplay .contentcard {
	grid-area: 4 / 1 / 5 / 3;
	display: block;
	max-width: 400px;
	height: 282px;
	text-align: right;
	overflow: hidden;
	border-radius: 4px;
	position: relative;
}

#portraitOverlayDisplay .contentcard img {
	border-radius: 4px;
	max-width: 375px;
	max-height: 282px;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translateY(-50%) translateX(-50%);
}

#portraitOverlayDisplay .contentcard video {
	border-radius: 4px;
	max-width: 375px;
	max-height: 282px;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translateY(-50%) translateX(-50%);
}

#overlayDisplay .author,
#portraitOverlayDisplay .author {
	font-family: Helvetica;
	font-size: 16px;
	font-style: normal;
	font-weight: 700;
	line-height: normal;
	text-overflow: ellipsis;
	overflow: hidden;
}

#taggedContent .authorUserName {
	font-family: Helvetica;
	font-size: 14px;
	font-style: normal;
	font-weight: 400;
	line-height: normal;
	text-overflow: ellipsis;
	overflow: hidden;
	opacity: 0.7;
}

#taggedContent .author {
	overflow: hidden;
	text-overflow: ellipsis;
}

#headerButton {
	position: absolute;
	top: 10px;
	right: 10px;
	z-index: 900;
}

/** Overlay Display **/

#overlayBody {
	background-color: #00b140;
}

#overlayDisplay.show,
#overlayDisplay.showPreview {
	background-color: white;
	border: 1px solid #e2e8ed;
	border-radius: 20px;
	background-color: #fff;
	padding: 8px 16px 16px 16px;
	margin: 0 auto;
	box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.04);
	overflow: hidden;
	position: relative;
	max-height: 275px;
}

#overlayDisplay.show {
	display: grid;
	grid-template-columns: 36px 1fr 16px;
	grid-template-rows: 36px 14px auto;
	grid-column-gap: 10px;
	grid-row-gap: 15px;
	max-width: 600px;
}

#overlayDisplay.showPreview {
	display: grid;
	grid-template-columns: 36px 1fr 16px 400px;
	grid-template-rows: 36px 14px 1fr;
	grid-column-gap: 10px;
	grid-row-gap: 15px;
	height: 275px;
	max-width: 1200px;
}

#overlayDisplay * {
	font-family: Arial, Helvetica, sans-serif;
}

/** Portrait Overlay */
#portraitOverlayDisplay.show,
#portraitOverlayDisplay.showPreview {
	background-color: white;
	border: 1px solid #e2e8ed;
	border-radius: 20px;
	background-color: #fff;
	padding: 8px 16px 16px 16px;
	margin: 0 auto;
	box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.04);
	overflow: hidden;
	position: relative;
}

#portraitOverlayDisplay.showPreview,
#portraitOverlayDisplay.show {
	display: grid;
	grid-template-columns: 36px 1fr 16px;
	grid-template-rows: 36px 14px 1fr auto;
	grid-column-gap: 10px;
	grid-row-gap: 15px;
	width: 375px;
	max-height: 690px;
}

#portraitOverlayDisplay * {
	font-family: Arial, Helvetica, sans-serif;
}

.modal-body .contentcard {
	border-radius: 4px;
	width: 100%;
	height: 300px;
	overflow: hidden;
	position: relative;
}

.modal-body .contentcard img {
	border-radius: 4px;
	max-width: 400px;
	/*max-height: 300px;*/
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translateY(-50%) translateX(-50%);
}

/** Modal display on Waterfall */
.modal-content {
	border: 1px solid var(--bs-gray-600);
	border-radius: 20px;
	box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.04);
}

.modal-header {
	display: grid;
	grid-template-columns: 36px 1fr 16px 16px;
	grid-template-rows: 10px 10px 14px;
	grid-column-gap: 10px;
	grid-row-gap: 10px;
	padding-bottom: 0.5rem;
}

.modal-header .ProfilePicture {
	grid-column: 1 / 2;
	grid-row: 1 / 3;
	width: 36px;
	height: 36px;
	border-radius: 50%;
}

.modal-header .author {
	grid-column: 2 / 3;
	grid-row: 1 / 2;
	font-family: Helvetica;
	font-size: 16px;
	font-style: normal;
	font-weight: 700;
	line-height: normal;
}

.modal-header .authorUserName {
	grid-column: 2 / 3;
	grid-row: 2 / 3;
	color: var(--bs-body-color);
	font-family: Helvetica;
	font-size: 14px;
	font-style: normal;
	font-weight: 400;
	line-height: normal;
	text-overflow: ellipsis;
	overflow: hidden;
	opacity: 0.7;
}

.modal-header .provider {
	font-size: 20px;
}

.modal-header .time {
	grid-column: 1 / 3;
	grid-row: 3 / 4;
	color: var(--bs-body-color);
	font-family: Helvetica;
	font-size: 14px;
	font-style: normal;
	font-weight: 400;
	line-height: normal;
	opacity: 0.7;
}

.modal-header .btn-close {
	padding-right: 0 !important;
}

/** Modal Flip Animation */

.modal-dialog {
	background-color: transparent;
	perspective: 1000px;
}

.modal-inner {
	position: relative;
	width: 100%;
	height: 100%;
	/*text-align: center;*/
	transition: transform 0.4s;
	transform-style: preserve-3d;
}

.flip {
	transform: rotateY(180deg);
}

.modal-front,
.modal-back {
	width: 100%;
	height: 100%;
	backface-visibility: hidden;
}

.modal-back {
	position: absolute;
	top: 0;
}

.modal-back-content {
	width: 100%;
	height: 100%;
	display: none;
	align-items: center;
	justify-content: center;
}

.modal-front {
	transform: rotateY(180deg);
}

/** End Modal Flip */

/** Moderation UI ***/

#moderationAction {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	background-color: rgba(204, 204, 204, 0.7);
	z-index: 10;
}

#moderationAction i {
	width: 50%;
	text-align: center;
	font-size: 4em;
	color: #333;
}

#moderationAction i:hover {
	color: firebrick;
	cursor: pointer;
}

article.status-approved {
	background-color: rgba(var(--bs-success-rgb), 0.4);
}

article.status-rejected {
	background-color: rgba(var(--bs-danger-rgb), 0.4);
}

article.status-rejected .content a {
	color: var(--bs-white);
}

article.status-approved .content a {
	color: var(--bs-white);
}

article.status-humanmod .time::after,
article.status-automod .autoModReason::after {
	content: 'Rejected';
	font-weight: bold;
	margin-left: 0.5em;
	color: var(--bs-red);
	margin-bottom: 1em;
}

article.status-automod .autoMod {
	background-image: url('/lib/azure-icons/cognitive-services.svg');
	background-repeat: no-repeat;
	height: 1em;
	width: 3em;
	display: inline-block;
	float: right;
	margin-top: 0.25em;
}

article.status-automod .autoModReason {
	display: block;
}

article.status-approved .autoModReason,
article.status-humanmod .autoModReason {
	display: none;
}

article.status-approved .time::after {
	content: 'Approved';
	font-weight: bold;
	margin-left: 0.5em;
	color: var(--bs-green);
	margin-bottom: 1em;
}

/** Filters on the moderation cards **/
#taggedContent.filter-approvedOnly article.status-rejected {
	display: none;
}

#taggedContent.filter-approvedOnly article:not(.status-rejected):not(.status-approved) {
	display: none;
}

/* In #taggedContent, hide articles that don't have status-rejected class or status-approved class  */
#taggedContent.filter-rejectedOnly article:not(.status-rejected):not(.status-approved) {
	display: none;
}

#taggedContent.filter-rejectedOnly article.status-approved {
	display: none;
}

/* in #taggedContent with the class filter-needsModeration, hide all articles with status-approved and status-rejected */
#taggedContent.filter-needsModeration article.status-approved {
	display: none;
}

#taggedContent.filter-needsModeration article.status-rejected {
	display: none;
}


a {
	color: var(--bs-cyan);
}

#providerAccordion div.accordion-item {
	margin-bottom: 1em;
}

#providerAccordion div.accordion-item h3 button i {
	margin-right: 0.5em;
}

.waterfallHeader {
	min-height: 3em;
	padding: 5px;
}

.gravatar {
	height: 50px;
	width: 50px;
	margin: 1em;
	border-radius: 25px;
	border: 2px solid steelblue;
}

.currentModerators img,
.gravatar {
	height: 50px;
	width: 50px;
	margin: 0.3em;
	padding: 0.2em;
	border-radius: 25px;
	border: 2px solid royalBlue;
}

.emote {
	height: 1.6em;
}

/** Pause button on waterfall */
#pauseUpdates {
	position: fixed;
	left: 1em;
	bottom: 1em;
	cursor: pointer;
	z-index: 50;
	opacity: 0.6;
}

#pauseUpdates:hover {
	opacity: 1;
}

#pauseButton {
	font-size: 4rem;
	z-index: 1;
}

#pauseButton-bg {
	font-size: 4rem;
	z-index: -1;
	position: absolute;
	left: 0;
	color: #fff;
}
