<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<base href="/" />
	<link rel="stylesheet" href="/lib/bootstrap-dark-5/dist/css/bootstrap-dark.min.css">
	<link rel="stylesheet" href="/css/site.css" asp-append-version="true" />
	<link rel="stylesheet" href="TagzApp.Blazor.styles.css" />
	<link rel="stylesheet" href="/lib/bootstrap-icons/font/bootstrap-icons.min.css" />
	<link rel="stylesheet" href="/_content/TagzApp.Providers.Blazot/css/blazot.css" />
	<HeadOutlet />
</head>

<body>
	<Routes />
	<script src="_framework/blazor.web.js"></script>
	<script src="/lib/jquery/dist/jquery.min.js"></script>
	<script src="/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
	<script src="/lib/microsoft-signalr/signalr.min.js"></script>
	<script src="/js/masonry.js"></script>
	<script src="/js/waterfall.js"></script>

</body>

</html>
