@page
@using TagzApp.Web.Areas.Admin.Pages;
@model TagzApp.Web.Areas.Admin.Pages.IndexModel
@{
	ViewData["ActivePage"] = ManageNavPages.Index;
}

<h2>Hashtag to watch</h2>

<partial name="_TagSearch" model="@Model.TagSearchModel" />
