@page
@using TagzApp.Web.Areas.Admin.Pages
@using Gravatar
@model TagzApp.Web.Areas.Admin.Pages.UsersModel
@{
	ViewData["ActivePage"] = ManageNavPages.Users;
}

<h1>User Roles Management</h1>

<table>
	<tr>
		@*<th>User ID</th>*@
		<th style="width:20em; padding-left: 85px;">Name</th>
		<th>User Email</th>
		<th>Action</th>
	</tr>
	@foreach (var user in Model.Users)
	{
		<tr>
			<td>	
				<img class="gravatar" title="Gravatar" src="@user.Email.ToGravatar()" />
				@user.DisplayName
			</td>
			<td>@user.Email</td>
			<td><a href="@Url.Page("AssignRole", new { userId = user.Id })">Assign Roles</a></td>
		</tr>
	}
</table>