@{
	var fxVersion = System.Environment.Version.ToString();
}
<footer class="border-top footer text-muted">
	<div class="container">
		&copy; 2023 - TagzApp.Web - <a asp-area="" asp-page="/Privacy">Privacy</a> - Running on .NET @fxVersion
	</div>
</footer>
