@model TagzApp.Web.Pages.Shared.TagSearchModel

<form method="post">
	<input name="NewTag" placeholder="New Hashtag" value="@Model.NewTag" @if (Model.Tags.Any())
	{
		<text>disabled="disabled"</text>
	}
	/>
	<input type="submit" aria-role="button" name="Add" value="Add" @if (Model.Tags.Any())
	{
		<text>disabled="disabled"</text>
	} />
</form>

<ul>
	@foreach (var tag in Model.Tags)
	{
		<li class="hashtags">@tag</li>
	}
</ul>