@page
@model IndexModel
@{
	ViewData["Title"] = "Home page";
}

<div class="row">
	<div class="col-md-12">
		<h1 class="text-center">Welcome to TagzApp</h1>
	</div>

	<div id="tagListPanel" class="col-md-4">

		

	</div>
</div>

<environment include="Development">

	<hr />

	<h4>DEVELOPMENT MODE - TEST UI</h4>

	<partial name="_TagSearch" model="@Model.TagSearchModel" />
</environment>