@page
@model IndexModel
@{
	ViewData["Title"] = "Home page";
}

<div class="row">
	<div class="col-md-12">
		<h1 class="text-center">Welcome to TagzApp</h1>
	</div>

	<div id="tagListPanel" class="col-md-4">

		<form method="post">
			<input name="NewTag" placeholder="New Hashtag" value="@Model.NewTag" />
			<input type="submit" aria-role="button" name="Add" value="Add" />
		</form>

		<ul>
			@foreach (var tag in Model.Tags)
			{
				<li>
					<a href="#" class="hashtags" onclick="tagClicked('@tag')">@tag</a>
				</li>
			}
		</ul>

	</div>

	<div id="taggedContent" class="col-md-8">

		@* 		<div class=" d-flex justify-content-center" style="width:100%;">

		<div class="spinner-border" role="status">
		<span class="visually-hidden">Loading...</span>
		</div>

		</div>
		*@
	</div>

</div>

<div class="modal fade show" id="contentModal" tabindex="-1" aria-labelledby="contentModalLabel" aria-hidden="true">
	<div class="modal-dialog modal-dialog-centered modal-lg">
		<div class="modal-content">
			<div class="modal-header">
				<div class="row">
					<h5 class="modal-title" id="modalTitle"></h5>
					<div class="modal-time">
					</div>
				</div>
				<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
			</div>

			<div class="modal-body">
			</div>
@* 			<div class="modal-footer">
				<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
			</div>
 *@		</div>
	</div>
</div>

@section Scripts {

	<script src="~/js/masonry.js" asp-append-version="true"></script>
	<script>

		window.TagzApp.ListenForTags("@string.Join(',', Model.Tags)");
		window.onload = window.Masonry.resizeAllGridItems();
		window.addEventListener("resize", Masonry.resizeAllGridItems);

	</script>

}
