@page
@model IndexModel

@{
	ViewData["Title"] = "Home page";
}

<div class="row">
	<div class="col-md-12">
		<h1 class="text-center">Welcome to TagzApp</h1>
	</div>
</div>

<div class="row">
	<div class="col-md-12">
		TagzApp is a simple web application that allows you to search for hashtags on social media 
		and view the results in a waterfall/masonry display.
	</div>
</div>

<environment include="Development,Test">

	<hr />

	<h4>DEVELOPMENT MODE - TEST UI</h4>

	<partial name="_TagSearch" model="@Model.TagSearchModel" />

</environment>