@page "{tag}"
@model TagzApp.Web.Pages.OverlayModel
@{
	Layout = null;
}
<html>
<head>
	<link rel="stylesheet" href="~/css/site.css" />
	<link rel="stylesheet" href="~/lib/bootstrap-icons/font/bootstrap-icons.min.css" />

</head>
<body>

	<div id="overlayDisplay">

	</div>

	<script src="~/lib/microsoft-signalr/signalr.min.js"></script>
	<script>
		(function () {

			async function start() {
				try {
					await connection.start();
					console.log("SignalR Connected.");
				} catch (err) {
					console.log(err);
					setTimeout(start, 5000);
				}

				connection.onclose(async () => {
					await start();
				});

			};

			var connection = new signalR.HubConnectionBuilder()
				.withUrl(`/messages?ot=@Model.Tag`)
				.configureLogging(signalR.LogLevel.Information)
				.withAutomaticReconnect()
				.build();

			connection.on("DisplayOverlay", (content) => {
				FormatMessage(content);
			});

			// Start the connection.
			start();

			function FormatMessage(content) {

				var overlayDisplay = document.getElementById("overlayDisplay");

				overlayDisplay.className = "begin";
				overlayDisplay.innerHTML = `<span class="author">${content.authorDisplayName}  <i class="bi bi-${content.provider.toLowerCase()}"></i></span>
					<span class="time">${new Date(content.timestamp).toLocaleString(undefined, { day: 'numeric', month: 'numeric', year: 'numeric', hour: '2-digit', minute: '2-digit' })}</span>
					<span class="message">${content.text}</span>
					`;
				overlayDisplay.className = "show";

			}


		})();
	</script>
</body>
</html>
