<footer class="border-top footer text-muted text-center">
		&copy; 2023 - TagzApp.Web -
		<a href="/Privacy">Privacy</a> -
		Running on .NET @fxVersion -
		<a target="_blank" href="https://github.com/FritzAndFriends/TagzApp">Source Code</a>
</footer>

@code {
	string fxVersion = System.Environment.Version.ToString();
}