@page "/Admin/Index"
@using Microsoft.AspNetCore.Authorization
@* @attribute [Authorize(Roles = "Admin")] *@
@inject NavigationManager NavigationManager
@layout Admin.Shared.AdminLayout


<h2>Hashtag to watch</h2>

<TagSearch />

@* Report on the Roles the current user belongs to*@
@if (HttpContext.User.IsInRole("Admin"))
{
		<p>You are an Admin</p>
}
else if (HttpContext.User.IsInRole("User"))
{
		<p>You are a User</p>
}
else
{
		<p>You are not an Admin or a User</p>
}

@code {

	[CascadingParameter]
	private HttpContext HttpContext { get; set; } = default!;

	protected override Task OnInitializedAsync()
	{
		var user = HttpContext.User;
		if (!user.IsInRole("Admin"))
		{
			NavigationManager.NavigateTo("/");
		}
		return base.OnInitializedAsync();
	}

}
