@page "/admin/providers"
@attribute [Authorize(Roles = RolesAndPolicies.Role.Admin)]
@rendermode InteractiveServer
@using System.Reflection
@layout Admin.Shared.AdminLayout
@inject IMessagingService messagingService

<h2>Provider Management</h2>

<article class="mt-3" id="providerAccordion">
	@foreach (var provider in SocialMediaProviders)
	{
		<GenericProvider Provider="provider" />
	}
</article>

@code {
	private IEnumerable<ISocialMediaProvider> SocialMediaProviders { get; set; } = Enumerable.Empty<ISocialMediaProvider>();

	protected override void OnInitialized()
	{
		SocialMediaProviders = messagingService.Providers;
	}
}