<ul class="nav nav-pills flex-column">
	<li class="nav-item">
		<NavLink class="nav-link" href="/Admin/Index">Home</NavLink>
	</li>
	<li class="nav-item"><NavLink class="nav-link" href="/Admin/Users">Users</NavLink></li>
	<li class="nav-item"><NavLink class="nav-link" href="/Admin/Providers">Providers</NavLink></li>
	<li class="nav-item"><NavLink class="nav-link" href="/Admin/export-messages">Export Messages</NavLink></li>
	<li class="nav-item"><NavLink class="nav-link" href="/Admin/UiCustomization">Customization</NavLink></li>
	<li class="nav-item"><NavLink class="nav-link" href="/Admin/ModalCustomization">Modal Customization</NavLink></li>

	@* NOTE: Temporary placeholder *@
@*	<li class="nav-item"><NavLink class="nav-link" href="/Admin/YouTubeChat">YouTubeChat</NavLink></li>
*@

</ul>
