@using Microsoft.AspNetCore.Components.Sections
@using Microsoft.AspNetCore.SignalR.Client
@rendermode @(new InteractiveWebAssemblyRenderMode(prerender: false))
@inject IJSRuntime JSRuntime
@inject NavigationManager NavigationManager
@implements IAsyncDisposable

@if (!_Content.Any())
{

	<div class="d-flex justify-content-center align-items-center" style="height: calc(100vh - 210px); text-align: center;">
		<div class="spinner-border" role="status"> <span class="visually-hidden">Loading...</span> </div>
	</div>

}
else
{
	<div id="taggedContent" class="">


		@foreach (var content in _Content.Values.Reverse())
		{
			<WaterfallMessage Content="content" @key="content" OnContentSelected="ShowModal" />
		}

	</div>
}

<PauseButton @ref="thePauseButton" OnPauseUpdates="OnPauseClick" />

<WaterfallModal @ref="Modal" Content="ModalContent" />

@code {

	private SortedList<string, TagzApp.ViewModels.Data.ContentModel> _Content = new();

	WaterfallModal Modal = new();
	ContentModel ModalContent {get; set; } = null!;

	PauseButton thePauseButton = new();

	private HashSet<dynamic> _PauseQueue = new();

	HubConnection _Connection = null!;

	private bool _IsDisposing = false;	

	[Parameter, EditorRequired]
	public string TagTracked { get; set; }

	protected override async Task OnInitializedAsync()
	{

		await StartSignalRHub();

		var existingContent = await _Connection.InvokeAsync<IEnumerable<ContentModel>>("GetExistingContentForTag", TagTracked);

		// Console.WriteLine($"Received {existingContent.Count()} messages for tag {TagTracked}");

		foreach (var content in existingContent)
		{
			if (_Content.ContainsKey(content.Timestamp.ToString("yyyyMMddHHmmss") + content.ProviderId)) continue;
			_Content.Add(content.Timestamp.ToString("yyyyMMddHHmmss") + content.ProviderId, content);
		}

		await base.OnInitializedAsync();

	}

	protected override async Task OnAfterRenderAsync(bool firstRender)
	{

		if (firstRender)
		{
			await JSRuntime.InvokeVoidAsync("WaterfallUi.setupWaterfall");
		}

		await JSRuntime.InvokeVoidAsync("window.Masonry.setupPage");

		await base.OnAfterRenderAsync(firstRender);

	}



	private async Task StartSignalRHub()
	{
		_Connection = new HubConnectionBuilder()
			.WithUrl(NavigationManager.ToAbsoluteUri($"/messages?t={TagTracked}"))
			.WithAutomaticReconnect()
			.Build();

		_Connection.On<ContentModel>("NewWaterfallMessage", (content) =>
		{

			if (thePauseButton.IsPaused)
			{
				_PauseQueue.Add(content);
				thePauseButton.Counter = _PauseQueue.Count;
				return;
			}

			_Content.Add(content.Timestamp.ToString("yyyyMMddHHmmss") + content.ProviderId, content);
			StateHasChanged();
		});

		_Connection.On<string, string>("RemoveMessage", (provider, providerId) =>
		{

			// NOTE: Remove messages immediately from the waterfall regardless of pause state

			var thisMessage = _Content.FirstOrDefault(c => c.Value.Provider == provider && c.Value.ProviderId == providerId);
			if (thisMessage.Value is not null)
			{
				// TODO: Change this to not use the DateTimeOffset as a key
				_Content.Remove(thisMessage.Key);
				StateHasChanged();
			}

		});

		_Connection.Closed += async _ => {

			if (_IsDisposing) return;

			while (!_IsDisposing)
			{

				await Task.Delay(2000);
				try {
	
					await StartSignalRHub();

				} catch (Exception ex)
				{

					Console.WriteLine($"Error while attempting to reconnect ({_Connection.State.ToString()}) to server: {ex.Message}");

				}

			}

			return;

		};

		await _Connection.StartAsync();
	}

	Task SendMessageTask;
	async Task ShowModal(ContentModel content)
	{

		thePauseButton.SetPauseState(true);
		ModalContent = content;
		SendMessageTask = Task.Run(async () => {
			
			Console.WriteLine("Sending message to overlay");

			for (var i = 0; i<10; i++)
			{

				if (i>0) Console.WriteLine($"Retry #{i} to activate overlay");
				try {
					await _Connection.InvokeAsync("SendMessageToOverlay", TagTracked, content.Provider, content.ProviderId);
					break;
				} catch (Exception ex) {
					Console.WriteLine($"Exception while sending message to overlay: {ex.Message}");
					await Task.Delay(1000 + i*1000);
				}

			}

		});
		await Task.Delay(200);  // LAME delay to allow the content to propogate into the Modal component
		await Modal.Open();

	}

	public async Task OnPauseClick(bool newPauseState)
	{
		if (!newPauseState)
		{
			// Add all the items in the pause queue to the waterfall
			foreach (var item in _PauseQueue)
			{
				if (item is ContentModel content)
				{
					_Content.Add(content.Timestamp.ToString("yyyyMMddHHmmss") + content.ProviderId, content);
				}
			}
			_PauseQueue.Clear();
			thePauseButton.Counter = 0;
		}

		await InvokeAsync(StateHasChanged);
	}

	public ValueTask DisposeAsync()
	{
		_IsDisposing = true;
		if (_Connection is null) return ValueTask.CompletedTask;
		return _Connection.DisposeAsync();
		// return ValueTask.CompletedTask;
	}

}
