<div id="pauseUpdates" @onclick="PauseClicked">
	<i id="pauseButton" class="bi bi-@(IsPaused ? "play" : "pause")-circle-fill text-info"></i>
	<i id="pauseButton-bg" class="bi bi-circle-fill"></i>
	<span style="@CounterDisplay">@Counter</span>
</div>


@code {

	public bool IsPaused { get; private set; } = false;

	public async Task PauseUpdates()
	{
		IsPaused = !IsPaused;
		StateHasChanged();
	}

	[Parameter]
	public EventCallback<bool> OnPauseUpdates { get; set; }

	public int Counter { get; set; } = 0;

	public string CounterDisplay => !IsPaused && Counter > 0 ? "display: none;" : "display: block;";

	void PauseClicked()
	{
		IsPaused = !IsPaused;
		OnPauseUpdates.InvokeAsync(IsPaused);
	}

}
